/* 需求管理 */
.icon-reqMgr-title {
	background: url(../images/icon/calendar.png) no-repeat left center !important;
}

/* 任务管理 */
.icon-taskMgr-title {
	background: url(../images/icon/asterisk_orange.png) no-repeat left center !important;
}

/* 系统管理 */
.icon-sysMgr-title {
	background: url(../images/icon/cog.png) no-repeat left center !important;
}

/* 任务统计*/
.icon-taskCalc-title {
	background: url(../images/icon/chart_bar.png) no-repeat left center !important;
}


/* 任务统计*/
.icon-indexTab-title {
	background: url(../images/icon/house.png) no-repeat left center !important;
}