		body {
			margin:0;
			padding:0;
			width:100%;
		}
		a.noneUnder {
			text-decoration:none;
		}
		input.button {
			background-color:#A0D9F7;
			border:1px solid #183EAD;
			font-size:12px;
			font-style:normal;
			font-variant:normal;
			font-weight:normal;
			height:18px;
			line-height:normal;
		}
		table {
			border-collapse:collapse;
			border-spacing:0;
			/*width:500px;		*/	
			/*display:inline;	*/		
			font-size:12px;
			font-family:Tahoma;
			color:#111111;
			border-top-width:1px;			
			border-left-width:1px;
		}
		div.autoShow {
			overflow:auto;
		}
		#titleTd {
			font-weight:bold; color:#1F4F90; padding-top:4px;padding-left:0px;
			font-size:14px;
		}
		/*工具条样式开始*/
		.toolbar
		{
			border-bottom: #ABABAB 1px solid;
			border-top: #ABABAB 1px;
			background-color: #EFEFEF;
		}
		.toolbar span a {
			cursor:pointer;
		}
		/*工具条样式结束*/
		.margin {
			height:20px;
		}
		
		/* added by GeGangGang , 查询条件列表的样式 */
		.SearchBox {
			margin: 0;
			width: 100%;
			text-align: center;
			/*border-bottom: 1px solid buttonshadow; */
		}
		
		.SearchBox ul {
			margin-bottom: 0;
			margin-top: 0;
			margin-left: 0;
			margin-right: 0;
			padding-top: 2px;
			list-style-type: none;
			width: 752px;
		}
		
		.SearchBox li {
			width: 250px;
			float: left;
			height: 27px;
			font-size: 12px;
			font-family: Arial;
		}
		
		.SearchBox span {
			width: 85px;
			text-align: right;
			vertical-align: middle;
			float: left;
			height: 27px;
			line-height: 27px;
			overflow: hidden;
		}
		
		.SearchBox .TextInput {
			background-color: #F7F7F7;
			color: #4A59C6;
			border: 1px solid #656565;
			width: 155px;
		}
		
		.SearchBox .DateInput {
			background-color: #F7F7F7;
			color: #4A59C6;
			border: 1px solid #656565;
			width: 68px;
		}
		
		.SearchBox .TextInputSelect {
			background-color: #F7F7F7;
			color: #4A59C6;
			border: 1px solid #656565;
			width: 158px;
		}
		
		.SearchBox select {
			width: 160px;
		}
		
		.SearchBox .LibCateBox {
			background-color: #F7F7F7;
			color: #4A59C6;
			border: 1px solid #656565;
			width: 130px;
		}
		
		.LibCateBox {
			background-color: #F7F7F7;
			color: #4A59C6;
			border: 1px solid #656565;
			width: 130px;
		}
		
		.SearchResult
		{
			width:100%;
			margin: auto;
			padding-top:10px;
			border-width: 0;
			border-style: solid;
			border-color: #3B619C;
			clear:both;
		}

		#smallTable {
			width:25%;
		}
		/*查询样式结束*/

		/*数据显示样式开始*/
		.GridViewCSS
		{
			width: 100%;
			border-color:#B9CDFB;
			border-style:Solid;
		}
		.GridViewCSS tbody {
			border:2px;
		}
		
		
		td {
			font-family: Verdana,helvetica,Tahoma;
			font-size: 8pt;
		}
		.lineTr {
			height:1px;
			background:#B9CDFB;
		}
		.GridViewCSS .lineTr td {
			height:1px;
		}
		.GridViewCSS th
		{
			padding: 1px; /*background-color: #9EBFF6;*/
			background-image: url(../images/Header_bg.png);
			background-repeat:repeat-x;
			height: 20px;
			text-align: center;
			border: 0;
			color: White;
			white-space:nowrap;
		}
		.GridViewCSS td
		{
			border: 0;
			height: 23px;
			border-style:solid;
			border-right-width: 1px;
			border-right-color: #9EBFF6;
			
			border-top-width: 1px;
			border-top-color: #9EBFF6;
			
			word-break:keep-all;
			overflow: hidden;
			font-size:12px;
		}
		.edit {
			background:url("../images/edit1.gif") center center no-repeat;
			width:16px;
			height:16px;
			cursor: pointer;
		}


		.TextInput  {
			background-color: #F7F7F7;
			border: 1px solid #656565;
			color: #4A59C6;
			width: 155px;
		}
		/*数据显示样式结束*/

		/*数据输入样式开始*/
		.PageDetail
		{
			padding-top: 10px;
			margin: auto;
			width: 740px;
		}

		.TwoItemPerLine
		{
			width: 370px;
			float: left;
			height: 30px;
			font-size: 12px;
			font-family: Arial;
			display:block;
		}
		.OneItemPerLine
		{
			width: 740px;
			padding-bottom: 5px;
			clear: both;
			font-size: 12px;
			font-family: Arial;
		}
		.firstTwoItem {
			margin-left:-102px;
			*margin-left:0px;
			_margin-left:0px;
		}
		 
		.OneItemPerLine span
		{
			width: 100px;
			text-align: right;
			vertical-align: middle;
			float: left;
			height: 30px;
			line-height: 27px;
			padding-right: 2px;
			overflow: hidden;
		}

		.TwoItemPerLine span
		{
			width: 100px;
			padding-right: 2px;
			text-align: right;
			vertical-align: middle;
			float: left;
			height: 30px;
			line-height: 27px;
		}

		.OneItemPerLine .TextInput
		{
			border: 1px solid #9EBFF6;
			width: 625px;
		}

		.TwoItemPerLine .TextInput
		{
			border: 1px solid #9EBFF6;
			width: 253px;
		}
		/*数据输入样式结束*/
		
		.dataShow {
			display:none;
			width:99%;
		}
		/*数据操作样式开始*/
		.operate {
			text-align:center;
		}
		.operate div {
			cursor:pointer;
			height:16px;
			float:left;
			margin-left:5px;
		}
		.recordModify {
			background:url("../images/record_edit.gif") no-repeat center center;
			width:44px;
		}
		.recordDelete {
			background:url("../images/delete.gif") no-repeat center center;
			width:16px;
		}
		.recordOk {
			background:url("../images/record_ok.gif") no-repeat center center;
			width:48px;
			display:none;
		}
		.recordCancle {
			background:url("../images/record_cancel.gif") no-repeat center center;
			width:48px;
			display:none;
		}
		.recordSetting {
			background:url("../images/record_set.gif") no-repeat center center;
			width:16px;
		}
		/*数据操作样式结束*/
		.disable {
			/*background-color:#939393;*/
			color:#aaaaaa;
		}
		#searchBox {
			clear:both;
		}
		
		fieldset {
			margin:0;
			border:2px solid #9EBFF6;
			width:98%;
		}
		legend {
			font-size:14px;
			font-weight:bold;
			color:#64A1E6;
		}
		#dataPage {
			font-size:12px;
			color:#64A1E6;			
		}
		.SearchResult #dataPage {
			border:1px solid #9EBFF6;			
		}
		#dataPage .none {
			color:#939393;
		}
		#dataPage #prePage {
			margin-left:20px;
		}
		
		/*----------------tab style begin-----------*/
		/** 清浮动 **/
		.clearfix:after{
			content:".";
			display:block;
			height:0;
			clear:both;
			visibility:hidden;
		}

		.clearfix{
			display:inline-block;
		}

		/* Hides from IE-mac \*/
		* html .clearfix{
			height:1%;
		}

		.clearfix{
			display:block;
		}
		.ui-tab-container{
			width:100%;			
		}
		.ui-tab-container ul{
			border-bottom:1px solid #ccc;
			margin:0;
		}
		.ui-tab-container ul li{
			float:left;
			border-style:solid;
			border-width:1px;
			border-color:#ccc;
			padding:3px 5px;
			margin:0 5px;
			background:#eee;
			cursor:pointer;
			border-bottom:none;
			list-style:none;
			font-size:14px;
			font-weight:bold;
			color:#64A1E6;
		}
		.ui-tab-container ul li.ui-tab-active{
			background:#fff;
			margin-bottom:-1px;
			border-bottom:1px solid #fff;
		}
		.ui-tab-container ul li.ui-tab-disable{
			background:#ff0000;
			border-bottom:1px solid #999;
			margin-bottom:-1px;
		}
		.ui-tab-container .ui-tab-content{
			padding:10px;
			border:1px solid #ccc;
			border-top:none;
		}
		/*----------------tab style end-----------*/
		.popContainer {
			margin:auto;
		}
		#dataPage #prePage,#dataPage #nextPage,#dataPage #gotoPage {
			cursor:pointer;
		}