<?php
print  <<<EOF
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>${article['title']}</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>${article['title']}</h3>
            <div class="data-line"><span>发表日期</span><span>${article['create_time']}</span></div>
        </div>
        <div class="content">${article['content']}</div>
    </div>
</body>
</html>
EOF;
